/* #379683 -register green */

/* #f4fbea -background */
/* font-family: Avenir-Heavy; */
.App {
  text-align: center;
}

html {
  background-color: #f4fbea;
  font-family: Avenir-Heavy
}

.register-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title{
  font-size: 2em;
  color:#379683;
  margin: 1em;
  font-weight: 700;
}

.register-form {
  border-radius: 2em;
  background-color: #379683;
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.all-reg-inputs {
  display: flex;
  flex-direction: column;
  width: 85%;;
  margin-top: 12%;
}

.register-input {
  border: none;
  appearance: none;
  background-color: #f4fbea;
  height: 2em;
  font-size: 1em;
  margin-bottom: 5%;
  color: #379683;
  font-family: Avenir-Heavy
}

.register-input:focus {
  outline: none;
  appearance: none;
}

.register-input::placeholder {
  color: #379683;
  font-family: Avenir-Heavy
}

.reg-button {
  border-radius: 2em;
  margin-top: 8%;
  background-color: #f4fbea;
  width: 25%;
  line-height: 3em;
  height: 3em;
  color: #379683;
  font-size: 1em;
  font-family: Avenir-Heavy
}
