/* #379683 -register green */

/* #f4fbea -background */
/* font-family: Avenir-Heavy; */

.App {
  text-align: center;
}

html {
  background-color: #f4fbea;
  font-family: Avenir-Heavy
}

.register-page{
  margin: 5em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title{
  font-size: 1.5em;
  color:#379683;
  margin-bottom: 2em;
  font-weight: 600;
}

.register-form {
  border-radius: 2em;
  background-color: #379683;
  width: 75%;
  max-width: 35em;
  height: 28em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-reg-inputs {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 35em;
  margin-top: 4em;
}

.register-input {
  padding: 0em 0.5em;
  border: none;
  appearance: none;
  background-color: #f4fbea;
  height: 2em;
  font-size: 1em;
  margin-bottom: 2em;
  color: #379683;
  font-family: Avenir-Heavy
}

.register-input:focus, .log-field:focus {
  outline: none;
  appearance: none;
}

.register-input::placeholder {
  color: #379683;
  font-family: Avenir-Heavy
}

.reg-button {
  border: none;
  border-radius: 2em;
  margin-top: 6%;
  background-color: #f4fbea;
  width: 7em;
  line-height: 2.2em;
  height: 2.2em;
  color: #379683;
  font-size: 1em;
  font-family: Avenir-Heavy
}

.budget-title {
  font-family: Montserrat-SemiBold;
  margin-top: 10%;
  width: 60%;
  font-size: 1.5em;
  color:#379683;
  margin: 1em;
  font-weight: 300;
}

.budget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-input {
  text-align: right;
  padding: 0em 1.5em;
  border: none;
  appearance: none;
  border-bottom: 1px solid #597592;
  background-color: #f4fbea;
  height: 2em;
  font-size: 1em;
  margin-bottom: 5%;
  color: #379683;
  font-family: Lato-Regular;
}

.budget-input:focus {
  outline: none;
  appearance: none;
}

.budget-input::placeholder {
  text-align: left;
  color: #597592;
  font-family: Lato-Regular;
}

.budget-button, .log-button {
  text-transform: uppercase;
  border-radius: 2em;
  margin-top: 8%;
  background-color: #a6a6a6;
  width: 40%;
  height: 2.2em;
  color: white;
  font-size: 1em;
}

.budget-button:hover, .reg-button:hover, .log-button:hover{
  background-color: #5cdb95;
  color: white;
}

.budget-page{
  margin: 12em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5em 0em;
}

.cat-form{
  width: 90%;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectionContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em 0em;
}

.cat-block {
  margin: 2px;
  border: 1px solid #379683;
  width: 9em;
  height: 9em;
  border-radius: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cat-button{
  color: #f4fbea;
  border-radius: 2em;
  width: 5em;
  line-height: 2.2em;
  height: 2.2em;
  font-size: 1em;
  font-family: Avenir-Heavy
}

.cat-header {
  line-height: 1.4em;
  font-family: Montserrat-SemiBold;
  width: 9em;
  font-size: 1.5em;
  color:#379683;
  font-weight: 300;
}

.log-header{
  line-height: 1.4em;
  font-family: AvenirNext-DemiBold;
  font-size: 1.5em;
  color:#379683;
  font-weight: 400;
}

.log-img{
  height: 6em;
  width: 6em;
  margin: 1em 1em 1em 0em;
}

.log-block {
  margin-right: 1em;
  height: 7em;
  display:flex;
  justify-content: space-between;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;;
}

.log-input{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.log-label{
  font-family: AvenirNext-Medium;
  font-size: 1em;
  color: #379683;
  font-weight: 300;
}

.log-field {
  margin-top: 6px;
  border: 2px solid #379683;
  border-radius: 2em;
  padding: 0em 0.5em;
  appearance: none;
  background-color: #f4fbea;
  color: #379683;
  font-family: AvenirNext-Medium;
  font-size: 1em;
}

.log-field::placeholder{
 color: #379683;
}

.log-form{
  flex-direction: column;
  display: flex;
  margin: 1.5em 0em;
  width: 50em;
  align-items: center;
}

.outer-bar {
  height: 10px;
  width: 100%;
  border: 2px solid #379683;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.inner-bar {
  height: 100%;
}

.pig{
  width: 15em;
  height:15em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.plus-links {
  background-color: #379683;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5em;
  height: 5em;
}

.star-links{
  background-color: #379683;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5em;
  height: 5em;
}

.budg-nav{
  margin: 2em 0em;
  display:flex;
  justify-content: space-evenly;
  width: 15em;

}

.plus {
  margin-top: -12px;
  color: #f4fbea ;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: -10px;
}

.star{
  margin-top: -12px;
  color: #f4fbea ;
  font-size: 4.5em;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: -36px;
}

.landing-page {
  display: flex;
  flex-directions: column;
  justify-content: space-between;
  align-content: center;

}

.landing-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  margin: 0 auto

}

.big-splash {
}

.update-link {
  font-family: AvenirNext-Medium;
  color: #f4fbea ;
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.rearrange {
  font-family: AvenirNext-Medium;
  color: #f4fbea ;
  font-size: 0.8em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.star-links:hover, .plus-links:hover{
  background-color: #5cdb95;
  color: white;
}

.budg-block {
  height: 7em;
  width: 80%;
  display:flex;
  justify-content: space-between;
}

.budg-input{
  width: 85%;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
  text-align: left;
}

.budg-nums{
    line-height: 1.4em;
    font-family: AvenirNext-Medium;
    font-size: 1.5em;
    color:#379683;
    font-weight: 400;
}

.budg-container{
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 650px) {

.budg-container{
  width: 25em;
}

.budg-input {
    width: 75%;
}
}

.main-nav {
  display: flex;
  height: 70px;
  background-color: #91e3b0;
  align-items: center;
  justify-content: space-around;
  font-family: AvenirNext-Medium;
  color: #f4fbea;
}

.logout-button {
  display:flex;
  height:100%;
  width: 100px;
  align-items:center;
  justify-content:center;
}

.logout-button:hover {
  background-color: #379683;
}

.nav-title {
  color: #379683;
  font-weight:bold;
}

@media only screen and (max-width: 800px) {

  .log-form{
    margin: 1.5em 0em;
    width: 21em;
  }

}
